{
  "extends": [
    "airbnb-typescript",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "prettier",
    "next"
  ],
  "env": {
    "browser": true,
    "es2020": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "tsx": true
    },
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/react-in-jsx-scope": 0,
    "object-curly-newline": 0,
    "jsx-a11y/anchor-is-valid": 0
  }
}
