@font-face {
  font-family: 'Helvetica Neue Cyr';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/HelveticaNeueCyr-Light_0.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue Cyr';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/HelveticaNeueCyr-Italic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue Cyr';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf')
    format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue Cyr';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf')
    format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue Cyr';
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/HelveticaNeueCyr/HelveticaNeueCyr-BoldItalic.ttf')
    format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue Cyr';
  font-weight: 900;
  font-style: normal;
  src: url('/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.ttf')
    format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue Cyr';
  font-weight: 900;
  font-style: italic;
  src: url('/fonts/HelveticaNeueCyr/HelveticaNeueCyr-BlackItalic.ttf')
    format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue Roman';
  src: url('/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf')
    format('truetype');
  font-display: swap;
}
